/** @define btn */

.iconwrapper {
	@apply grid h-full place-items-center bg-contrast-900 p-1 ml-2 rounded-md shadow-sm duration-300;

	> svg {
		@apply w-4 h-4;

		stroke: url(#gradient);
	}
}

.btn {
	padding: 0.5em 1.5em;
	@apply rounded inline-flex font-semibold whitespace-nowrap uppercase text-base bg-skin-brand text-skin-inverted border-2 border-solid border-brand duration-300;

	&:hover {
		@apply bg-skin-bg text-skin-base;

		& > .iconwrapper {
			@apply bg-transparent;
		}
	}
}

.secondary {
	@apply bg-skin-bg text-skin-base border-2 border-solid border-brand;

	&:hover {
		@apply text-base bg-skin-brand text-skin-inverted;
	}
}

.icon {
	padding: 0.5em;

	@apply pl-4;
}
