/** @define block */

.block {
	@apply py-xl-5xl relative overflow-x-clip;

	&__inner {
		@apply w-9/10 max-w-7xl mx-auto;
	}
}

.top {
	@apply relative z-10;
}

.spacing {
	&--none {
		@apply py-0;
	}
	&--small {
		@apply py-16;
	}
}

.graphic {
	@apply absolute z-0;
	> svg {
		@apply fill-bg;

		filter: drop-shadow(-2rem -2rem 4rem #015b88); // brand-600
	}
}

.one {
	@apply -left-[20vw] -top-[15vw];
}

.two {
	@apply -right-[12vw] -top-[20vw];
	> svg {
		transform: scaleX(-1);
	}
}

.three {
	@apply -right-[12vw] -top-[10vw];

	> svg {
		transform: rotate(150deg);
	}
}

.hide {
	@apply hidden;
}
