:root {
	/* @link https://utopia.fyi/space/calculator/?c=320,16,1.125,1440,16,1.25,7,2,1440&s=0.75|0.5|0.25,1.5|2|3|4|5|8|10|12.5,xl-4xl|2xl-8xl|xl-6xl|xl-3xl */

	--fluid-min-width: 320;
	--fluid-max-width: 1440;

	--fluid-screen: 100vw;

	// prettier-ignore
	--fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));

	--fc-3xs-min: (var(--fc-s-min) * 0.25);
	--fc-3xs-max: (var(--fc-s-max) * 0.25);

	--fc-2xs-min: (var(--fc-s-min) * 0.5);
	--fc-2xs-max: (var(--fc-s-max) * 0.5);

	--fc-xs-min: (var(--fc-s-min) * 0.75);
	--fc-xs-max: (var(--fc-s-max) * 0.75);

	--fc-s-min: (var(--f-0-min, 16));
	--fc-s-max: (var(--f-0-max, 16));

	--fc-m-min: (var(--fc-s-min) * 1.5);
	--fc-m-max: (var(--fc-s-max) * 1.5);

	--fc-l-min: (var(--fc-s-min) * 2);
	--fc-l-max: (var(--fc-s-max) * 2);

	--fc-xl-min: (var(--fc-s-min) * 3);
	--fc-xl-max: (var(--fc-s-max) * 3);

	--fc-2xl-min: (var(--fc-s-min) * 4);
	--fc-2xl-max: (var(--fc-s-max) * 4);

	--fc-3xl-min: (var(--fc-s-min) * 5);
	--fc-3xl-max: (var(--fc-s-max) * 5);

	--fc-4xl-min: (var(--fc-s-min) * 8);
	--fc-4xl-max: (var(--fc-s-max) * 8);

	--fc-5xl-min: (var(--fc-s-min) * 10);
	--fc-5xl-max: (var(--fc-s-max) * 10);

	--fc-6xl-min: (var(--fc-s-min) * 12.5);
	--fc-6xl-max: (var(--fc-s-max) * 12.5);

	/* Custom pairs */

	// prettier-ignore
	--space-xl-3xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
	// prettier-ignore
	--space-xl-4xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-4xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
	// prettier-ignore
	--space-xl-6xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-6xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
}

@screen xl {
	:root {
		/* stylelint-disable-next-line unit-allowed-list */
		--fluid-screen: calc(var(--fluid-max-width) * 1px);
	}
}
