@use '../mixins/mixins-colors';
@use 'sass:map';

:root,
::before,
::after,
[data-theme='default'] {
	//contrast

	$colorsContrast: (
		50: #121212,
		100: #202020,
		200: #333333,
		300: #414141,
		400: #8f8f8f,
		500: #a3a3a3,
		600: #cccccc,
		700: #d7deea,
		800: #f5f5f5,
		900: #fafafa,
	) !default;

	//brand

	$colorsBrand: (
		200: #dcf3ff,
		300: #9addfe,
		'default': #57c5fd,
		500: #029fed,
		600: #015b88,
	) !default;

	//default Colors

	$bg: map.get($colorsContrast, 50) !default;

	$bg-white: map.get($colorsContrast, 900) !default;

	$bg-muted: map.get($colorsContrast, 200) !default;

	$bg-inverted: map.get($colorsContrast, 900) !default;

	$bg-brand: map.get($colorsBrand, 'default') !default;

	$text-base: map.get($colorsContrast, 700) !default;

	$text-muted: map.get($colorsContrast, 500) !default;

	$text-inverted: map.get($colorsContrast, 50) !default;

	$text-brand: map.get($colorsBrand, 'default') !default;

	@include mixins-colors.defineColorHSL(
		--clr-bg,
		round(hue($bg)),
		round(saturation($bg)),
		round(lightness($bg))
	);
	@include mixins-colors.defineColorHSL(
		--clr-bg-white,
		round(hue($bg-white)),
		round(saturation($bg-white)),
		round(lightness($bg-white))
	);
	@include mixins-colors.defineColorHSL(
		--clr-bg-muted,
		round(hue($bg-muted)),
		round(saturation($bg-muted)),
		round(lightness($bg-muted))
	);
	@include mixins-colors.defineColorHSL(
		--clr-bg-inverted,
		round(hue($bg-inverted)),
		round(saturation($bg-inverted)),
		round(lightness($bg-inverted))
	);
	@include mixins-colors.defineColorHSL(
		--clr-bg-brand,
		round(hue($bg-brand)),
		round(saturation($bg-brand)),
		round(lightness($bg-brand))
	);
	@include mixins-colors.defineColorHSL(
		--clr-text-base,
		round(hue($text-base)),
		round(saturation($text-base)),
		round(lightness($text-base))
	);
	@include mixins-colors.defineColorHSL(
		--clr-text-muted,
		round(hue($text-muted)),
		round(saturation($text-muted)),
		round(lightness($text-muted))
	);
	@include mixins-colors.defineColorHSL(
		--clr-text-inverted,
		round(hue($text-inverted)),
		round(saturation($text-inverted)),
		round(lightness($text-inverted))
	);
	@include mixins-colors.defineColorHSL(
		--clr-text-brand,
		round(hue($text-brand)),
		round(saturation($text-brand)),
		round(lightness($text-brand))
	);

	@each $name, $hex in $colorsContrast {
		@include mixins-colors.defineColorHSL(
			--clr-contrast-#{$name},
			round(hue($hex)),
			round(saturation($hex)),
			round(lightness($hex))
		);
	}

	@each $name, $hex in $colorsBrand {
		@include mixins-colors.defineColorHSL(
			--clr-brand-#{$name},
			round(hue($hex)),
			round(saturation($hex)),
			round(lightness($hex))
		);
	}
}
