.default {
	@apply flex flex-col md__flex-row-reverse;

	> * {
		@screen md {
			@apply w-1/2 flex-row;
		}
	}
}

.content {
	@apply relative z-10;
}

.imagewrapper {
	@apply relative h-60 md__h-fit;
}

.graphic {
	@apply w-[120vw] h-[80vw] absolute overflow-hidden -top-[45vw] opacity-60 z-0 bg-gradient-radial-at-b from-brand-500 to-transparent;

	// background-image: radial-gradient(
	// 		ellipse closest-side,
	// 		rgb(2, 159, 237, 1),
	// 		rgb(2, 159, 237, 0)
	// 	),
	// 	url('../../../public/hero-image.jpg'); // bg-gradient-radial-at-b from-brand-500 to-transparent

	@screen md {
		@apply w-[80vw] -top-[40vw];
	}
}

.curve1 {
	@apply absolute h-full z-10 bg-contrast-50 -left-4 top-[60vw];

	width: 128%;
	border-radius: 50% / 100%;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	@screen md {
		@apply top-[55vw] -left-1/4;
	}

	@screen 2xl {
		@apply top-[53vw];
	}
}

.curve2 {
	@apply absolute h-full z-10 bg-contrast-50 -left-0 top-0;

	width: 40%;
	border-radius: 100% / 50%;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;

	@screen md {
		@apply -left-[50vw];
		width: 80%;
	}
}

.heroimage {
	@apply z-0 absolute opacity-50 top-1/3 left-[20%] w-3/5 h-3/5;

	@screen md {
		@apply top-[40%] left-0 w-[60%] h-2/5;
	}
}
