/** @define teamMember */

.teammember {
	@apply w-full text-center relative bg-gradient-radial-at-t from-brand-500 to-transparent;

	@screen md {
		@apply bg-none;
	}
}

.avatarWrapper {
	@apply h-60 w-48 relative mx-auto;

	@screen md {
		@apply h-80 w-64;
	}
}

.notloaded {
	.avatar {
		@apply opacity-0 transition-all duration-1000;
	}

	.image {
		@apply opacity-0 transition-all duration-1000;
	}
}

.loaded {
	.avatar {
		@apply opacity-100 transition-all duration-1000;
	}

	.image {
		@apply opacity-100 transition-all duration-1000;
	}
}

.description {
	@apply flex flex-row justify-center gap-4 mt-2;

	@screen md {
		@apply mt-6;
	}
}

.name {
	@apply text-lg font-heading;
}

.imagewrapper {
	@apply border-2 border-brand-300 rounded-full w-16 h-16 mt-2 relative;
}

.info {
	@apply text-left;
}

.text {
	@apply font-normal py-0.5;
}

.graphic {
	@apply w-screen absolute overflow-hidden;
	height: 76%;

	@screen md {
		@apply hidden;
	}
}

.box {
	@apply absolute h-2/3 z-0 bg-contrast-50 -left-1/3;

	width: 160%;
	border-radius: 50% / 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.spacing {
	@apply hidden md__block absolute w-full z-0 bg-contrast-50 outline-4 outline-contrast-50;

	height: 10%;
}
