.team {
	@apply bg-gradient-radial-at-t from-transparent via-brand-500 to-transparent relative;
}

.box {
	@apply absolute h-2/3 z-0 bg-contrast-50 -left-1/3;

	top: 10%;

	width: 166%;
	border-radius: 50% / 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.spacing {
	@apply absolute w-full z-0 bg-contrast-50 outline-4 outline-contrast-50;

	height: 10%;
}

.inner {
	@apply relative;
}

.content {
	@apply flex flex-row;
}
