/**
* 0.0 Root
*
* Top level styles every element should inherit.
*/

@layer base {
	@include font-face('Barlow', 'Barlow-Regular', 'false', 'normal', 'normal');
	@include font-face('Barlow', 'Barlow-Medium', 'false', '500', 'normal');
	@include font-face('Barlow', 'Barlow-SemiBold', 'false', '600', 'normal');
	@include font-face(
		'BarlowCondensed',
		'BarlowCondensed-Light',
		'false',
		'300',
		'normal'
	);
	@include font-face(
		'BarlowCondensed',
		'BarlowCondensed-Medium',
		'false',
		'500',
		'normal'
	);
	@include font-face(
		'BarlowCondensed',
		'BarlowCondensed-SemiBold',
		'false',
		'600',
		'normal'
	);
	@include font-face('Poppins', 'Poppins-Bold', 'false', 'bold', 'normal');

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	html {
		//base style
	}

	html,
	body {
		@apply font-sans leading-normal bg-skin-bg text-skin-base scroll-smooth;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		overflow-wrap: break-word;
		word-wrap: break-word;
	}

	body {
		//body
	}

	//optional add noise bg - decide later
	// #__next {
	// 	&::before {
	// 		content: ' ';
	// 		display: block;
	// 		position: absolute;
	// 		left: 0;
	// 		top: 0;
	// 		width: 100%;
	// 		height: 100%;
	// 		opacity: 0.7;
	// 		background: url('/noisytexture.png') center top repeat;
	// 		background-size: 10%;
	// 		background-attachment: fixed;
	// 		z-index: -1;
	// 	}
	// }

	a {
		color: inherit;
		text-decoration: none;
		@apply text-skin-brand;
	}

	img,
	svg {
		width: 100%;
		height: auto;
	}
}
